<div class="about-container">
    <div class="about-content-first">
        <div class="about-text">
            <div>FullStack Web Developer</div>
            <div class="btn-container">
                <button type="button" class="btn download-btn" (click)="downloadResume()">Download Resume <i class="fa-solid fa-download"></i></button>
                <button type="button" class="btn scroll-btn" (click)="scrollToSection('skills')">Scroll Down<i class="fa-solid fa-arrow-down"></i></button>
            </div>
        </div>
        <div class="about-image">
            <img src="assets/images/bidipta.JPG" alt="bidipta" class="bidipta-img"/>
        </div>
    </div>
    <div class="about-content-second">
        <div class="about-second-wrapper">
        <div class="card-container">
                <div class="card-content">
                    Welcome I'm Bidipta Bardhan, a fullstack web developer, currently working in Infosys as a UI developer ensuring high-quality deliverables, and collaborating with cross-functional teams. Focused on optimizing performance, enhancing user experience, and mentoring team members.
                    <div class="exp mt-4">
                        <div class="exp-no">2<i class="fa-solid fa-plus"></i></div>
                        <div>Years of experience</div>
                    </div> 
                </div>
        </div>
    </div>
    </div>   
</div>
