<div class="project-container">
    <div class="title mb-3">PROJECTS</div>
    <div class="projects">
        <div class="project-card" *ngFor="let project of projectArray">
                <div class="project-info">
                <img [src]="project.image" alt="{{project.projectName}}" class="project-image">
                <div class="project-name">{{project.projectName}}</div>
                <div class="description">{{project.description}}</div>
                </div>
                <div class="project-skills">
                <div class="divider"></div>
                <div class="skill-container">
                <div class="skills" *ngFor="let skill of project.skills">
                    {{skill}}
                </div>
            </div>
            </div>
    </div>
</div>
</div>
