<div class="wrapper">
  <div class="section" id="navbar">
  <app-navbar></app-navbar>
</div>
<div class="body">
  <div class="section" id="about">
      <app-about></app-about>
  </div>
  <div class="section" id="skills">
    <app-skills></app-skills>
  </div>
  <div class="section" id="edu">
    <app-education></app-education>
  </div>
  <div class="section" id="exp">
    <app-experience></app-experience>
  </div>
  <div class="section" id="project">
    <app-projects></app-projects>
  </div>
  <div class="section" id="achievments">
    <app-achievements></app-achievements>
  </div>
  <div class="section" id="contact">
    <app-contact></app-contact>
  </div>
</div>
</div>